*{
    margin: 0;
    padding: 0;
}

html{
    background-color: whitesmoke;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

html::-webkit-scrollbar {
    display: none;
}

:root{
    --panel-margin: 20px;
    --panel-size: 60px;
}

.canvas{
    background-color: white;
    height: 800px; 
    margin: 10px 5%;
    outline: 2px solid gray;
    width: 800px;
}

.controls{
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    height: 70vh;
    margin: 15vh 15%;
    width: 70%;
    z-index: 10;
}

.controls-container{
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
}

.panel{
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    bottom: var(--panel-margin);
    height: var(--panel-size);
    position: fixed;
    right: var(--panel-margin);
    width: var(--panel-size);
    z-index: 10;
}
.panel:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#settings{
    padding: calc((var(--panel-size) - 40px) / 2);
}